
h1{
    text-align: center;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    color: rgb(128, 0, 66);
    background-color: antiquewhite;
    text-transform: capitalize;
    

    
}
table{
    border: 5px solid;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
th, td {
    border: 2px solid;
    color: rgb(20, 51, 151);
    background-color: bisque;
    border-radius: 10px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.a{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

